.bg-gradient-primary {
    background-color: #7202bb;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#7202bb),to(#3264f5));
    background-image: linear-gradient(180deg,#7202bb 10%,#3264f5 100%);
    background-size: cover;
}
.sidebar-brand img{
	width: 93px;
}
.hide{
	display: none !important;
}
.nav-tabs.without-border-bottom{
	border-bottom: none;
	position: relative;
    left: 4px
}